<app-header [showBackButton]="true" color="light" [title]="title"></app-header>

<ion-content [fullscreen]="true">
  @if (signupId == 2) {
  <ion-header class="green-header" collapse="condense">
    <ion-toolbar class="green-header">
      <ion-title color="light" size="large">
        <h3 class="cust-title">Schools</h3>
      </ion-title>
      <img class="h-40 p5" slot="end" [src]="resource.hashIcon" alt="" />
    </ion-toolbar>
  </ion-header>
  <app-school-register></app-school-register>
  } @if (signupId == 1) {
  <ion-header class="blue-header" collapse="condense">
    <ion-toolbar class="blue-header">
      <ion-title color="light" size="large">
        <h3 class="cust-title">Home & Church</h3>
      </ion-title>
      <img class="h-40 p5" slot="end" [src]="resource.astriskIcon" alt="" />
    </ion-toolbar>
  </ion-header>
  <app-home-and-church-register></app-home-and-church-register>
  }
</ion-content>