<app-header [showBackButton]="false" color="light" title="Login"></app-header>

<ion-content [fullscreen]="true">
  <div class="bg-blue height-full">
    <ion-header class="blue-header" collapse="condense">
      <ion-toolbar class="blue-header">
        <ion-title color="light" size="large">
          <h3 class="cust-title">Login</h3>
        </ion-title>
        <img class="h-40 p5" slot="end" [src]="resource.astriskIcon" alt="" />
      </ion-toolbar>
    </ion-header>
    <div class="account-form-container">
      <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" class="account-form">
        <div class="form-section">
          <ion-input label="Email Address" required labelPlacement="stacked" mode="md" fill="outline"
            formControlName="email" type="email"></ion-input>
          <app-validation-output type="error" [value]="formErrors()['email']"></app-validation-output>

          <ion-input label="Password" required labelPlacement="stacked" mode="md" fill="outline"
            formControlName="password" [type]="showPassword ? 'text' : 'password'">
            <ion-button fill="clear" slot="end" (click)="showPassword = !showPassword" aria-label="Show/hide password">
              <ion-icon slot="icon-only" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
            </ion-button>
          </ion-input>
          <app-validation-output type="error" [value]="formErrors()['password']"></app-validation-output>

          <ion-item lines="none" class="checkbox-item">
            <ion-checkbox labelPlacement="end" formControlName="session"
              slot="start">Remeber Me</ion-checkbox>
          </ion-item>

          <ion-button type="submit" expand="block" [disabled]="!accountForm.valid || isLoading()" class="submit-btn">
            @if (isLoading()) {
              <ion-spinner name="crescent"></ion-spinner>
            }@else {
              Login
            }
          </ion-button>
          <ion-item lines="none" detail="false" (click)="forgotPassword()" button>
            <ion-label slot="end">Forgot Password?</ion-label>
          </ion-item>
          <div class="signup_div">
            <ion-label>Already have an account?</ion-label>
            <ion-button expand="block" fill="clear" class="submit-btn-signup" shape="round" (click)="goTo()">
              Signup
            </ion-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>