<app-header color="light" [showMenuButton]="true"></app-header>
<ion-content class="contact-page">

  <div class="w100-h-auto bg-blue-g pr">
    <div class="d-flex row w100 spb p10 pr">
      <h3 class="m0 cust-title text-light-color">Contact Us</h3>
      <img class="h-40 p5" slot="end" [src]="resource.contactUsIcon" alt="">
    </div>
    <div class="contact-card pr">
      <div class="contact-header">
        <h1>Get in touch</h1>
        <p class="contact-subheader">We'll respond within 24 hours</p>
      </div>

      <div class="contact-info" style="text-align: center; margin-top: 20px;">
        <p class="contact-text" style="margin-bottom: 20px; color: var(--ion-color-dark);">
          Have a question or need assistance? We're here to help! Click the button below to send us an email directly
          from your preferred email app.
        </p>
        <ion-button href="{{'mailto:'+supportEmail()}}" fill="outline" expand="block" shape="round">
          Contact Us via Email
        </ion-button>
      </div>

      <!--
      <form (ngSubmit)="onSubmit()" class="contact-form">
        <div class="ion-input-group">
          <ion-input type="text" label="Full Name" [formControl]="contactForm.controls.name" [required]="true"
            shape="round" mode="md" labelPlacement="stacked" fill="outline"
            placeholder="Enter your name..."></ion-input>
        </div>

        <div class="ion-input-group">
          <ion-input type="email" label="Email Address" [formControl]="contactForm.controls.email" [required]="true"
            shape="round" mode="md" labelPlacement="stacked" fill="outline"
            placeholder="Enter your email address..."></ion-input>
        </div>

        <div class="ion-input-group">
          <ion-input type="tel" label="Phone Number (Optional)" (ionInput)="formatPhoneNumber($event)"
            [formControl]="contactForm.controls.phone" shape="round" mode="md" labelPlacement="stacked" fill="outline"
            placeholder="Enter your phone number..."></ion-input>
          @if (contactForm.controls.phone.invalid && contactForm.controls.phone.touched) {
          <ion-note color="danger">
            Please enter a valid Australian phone number (e.g. 0412 345 678 or 02 1234 5678)
          </ion-note>
          }

        </div>

        <div class="ion-input-group textarea-group">
          <ion-textarea rows="4" type="text" label="Message" [formControl]="contactForm.controls.message" shape="round"
            mode="md" labelPlacement="stacked" fill="outline" placeholder="Enter your message here..."></ion-textarea>
        </div>

        <ion-button  type="submit" fill="clear" expand="block" shape="round" [disabled]="!contactForm.valid">
          Send Message
        </ion-button>
      </form>
      -->
    </div>
  </div>
</ion-content>